@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Ubuntu;
  }
}

html {
  background-color: #334155;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
